<div class="main-body">
    <div class="body">
        <div class="left">
            <h2>WordCrack</h2>
            <h3>Guess the hidden word in 6 tries — can you crack it?</h3>
            <h3>Green means correct, yellow means close, black means try again!</h3>
        </div>
        <div class="right">
            <h3>Choose the no. of letters: </h3>
            <button routerLink="/four">Four</button>
            <button routerLink="/five">Five</button>
            <button routerLink="/six">Six</button>
        </div>
    </div>
</div>